* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
  min-height: 100vh;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

#game-board,
#display-container,
#buttons-container {
  max-width: 20rem;
  width: 100%;
  margin-inline: auto;
}


#game-board {
  display: none;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-bottom: 1rem;
}

.square {
  display: grid;
  place-items: center;
  font-size: 2rem;
  background-color: khaki;
  border: 1px solid deepskyblue;
  height: 7rem;
  cursor: pointer;
}


#display-container {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  font: inherit;
  width: 7rem;
  background-color: rgb(80, 150, 255);
  color: rgb(247, 241, 241);
  border: 0;
  border-radius: 0.2rem;
  padding-block: 0.25rem;
  margin-bottom: 1rem;
  cursor: pointer
}

#restart-btn {
  display: none;
}